.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.colorChange{
  background-color: #ffea00!important;
  box-shadow: none!important;
}
.borderRadius{
  border-radius: 8px;
}
.fs6{
 font-size:  13px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.category{
  display: inline-block;
  
}
.paddingtop{
  margin-top: 0px;
}
/* body{
  overflow: hidden;
} */
.textCenter{
 
  width: 150px;
  display: inline-block;
  word-spacing: 5px;
}
.w25{
  font-size: 15px !important;
}
.fontSize{
  font-size: 10px;
}